/* root variables */
:root {
  /* Globals */
  --font-size: 18px;
  /* Colors */
  /* Brand Blue */
  --bb: #0a3249;
  /* Brand Orange */
  --bo: #e98f54;
  /* Light Text */
  --lt: #e9eaec;

  /* Typography */
  /* Header Text */
  --ht: "Syncopate";
  /* Sub Header Text */
  --st: "Ropa Sans";
  /* Body Type */
  --bt: "Nunito", sans-serif;
}

/* Helpers */

.container {
  max-width: 640rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* Global */
html {
  font-size: var(--font-size);
}
body {
  background-color: var(--bb);
  background-image: url(../images/portfolioBGrotate.png);
  background-size: contain;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  z-index: 9999;
}

.navbar__toggle {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
}

@media (max-width: 767px) {
  .nav__toggle {
    display: block;
  }

  .menu {
    display: none;
    width: 100%;
  }

  .nav__toggle.active + .menu {
    display: block;
    transform: translate(40%, 50%);
    z-index: 9999;
    position: fixed;
  }

  .menu li {
    text-align: center;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .menu {
    display: flex;
    width: auto;
  }

  .menu li {
    width: auto;
  }
}

/* Landing */

.intro {
  color: var(--bo);
}

.intro__welcome{
  font-family: var(--ht);
  color: var(--lt);
}
.intro__welcome-title{
  padding-top: .5rem;
  font-size: 1.25rem;
  color: var(--bo);
}
.intro__welcome-heading{
  color: var(--lt);
}

hr {
  display: block;
  position: absolute;
  top: 1.6rem;
  left: 0;
  height: 0;
  width: 100%;
  border-bottom: 4px solid var(--bo);
}

/* Intro Content */

.intro__content {
  margin-top: 5rem;
  max-width: 40rem;
  font-family: var(--st);
 
}
.intro__content-heading {
  font-family: var(--st);
  font-size: 1.25rem;
  letter-spacing: .01rem;
}

.intro__content-description {
  font-family: var(--bt);
  text-align: left;
  text-indent: 0.25rem;
  line-height: 1.25rem;
  letter-spacing: .10rem;
  margin-top: 2.1rem;
}

.intro__content-description:first-line {
  text-indent: 0;
}


.intro__content-span{
  color: var(--lt);
  text-transform: uppercase;
}

.intro__img-container {
  max-width: 100%;
  position: fixed;
  z-index: -100;
  right: -3.5rem;
  top: 16rem;
  
}

.intro__img-container img {
  max-width: 100%;
  height: auto;
}

.intro_mission {
  margin-top: 5rem;
  max-width: 9rem;
}

