/* root variables */
:root {
  /* Globals */
  --font-size: 18px;
  /* Colors */
  /* Brand Blue */
  --bb: #0a3249;
  /* Brand Orange */
  --bo: #e98f54;
  /* Light Text */
  --lt: #e9eaec;
  /* Dark Text */
  --dt: #5A5E68;
  /* Typography */
  /* Header Text */
  --ht: "Syncopate";
  /* Sub Header Text */
  --st: "Ropa Sans";
  /* Body Type */
  --bt: "Nunito", sans-serif;
}
/* Reference sizes */
/* Smallest screen size 375px */
/* medium screen width 720px */
/* large 1080+px */


/* Helpers */

.container {
  max-width: 17.77rem;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width:40em) {

  .container {
    max-width: 60rem;
    padding: 0 2rem;
  }
}

.isflex {
  display: flex;
}
/* Global */
html {
  font-size: var(--font-size);
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}
body {
  background-color: var(--bb);
  background-image: url(../images/portfolioBGrotate.png);
  background-size: contain;
  min-height: 100%;
  display: flex;
}
/* mouse effect */
#mouse-trail {
  height: 1em;
  width: 1em;
  background-color: #e98f54;
  border-radius: 1em;
  z-index: 9999;
  position: fixed;
  left: 0em;
  top: 0em; 
  pointer-events: none;
  transition: opacity 500ms ease;
  display: grid;
  place-items: center;
}

body:hover > #mouse-trail {
  opacity: 1;
}

#mouse-trail:not([data-type=""]) > #trail-icon {
  opacity: 1;
}

.interactable:hover {
  opacity: .8;
  scale: 105%;
}


/* Mouse icons */
#trail-icon {
  opacity: 0;
  transition: opacity 400ms ease;
}

.link-icon {
 background-image: url(/images/link-solid.svg);
 background-size: contain;
 background-position: center;
 height: .5em;
 width: .5em;
 background-repeat: no-repeat;
}

.nav-icon {
  background-image: url(/images/rightarrow.svg);
  background-size: contain;
  background-position: center;
  height: .5em;
  width: .5em;
  background-repeat: no-repeat;
}

.button-icon {
  background-image: url(/images/button.svg);
  background-size: contain;
  background-position: center;
  height: .5em;
  width: .5em;
  background-repeat: no-repeat;
}

/* Navigation */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  background-color: rgba(0, 0, 0, .4);
  height: 2.5em;

}

.nav-toggle.sticky {
  opacity: 1;
  visibility: visible;
  transition: opacity 50 ease;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  padding: 0 1em;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 4rem;
}

nav img {
  height: 2em;
  margin: .25em;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 2em;
}


.menu li a {
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu li{
  color: #f00;
  transform: scale(2em);
}

.nav-toggle {
  display: none;
  cursor: pointer;
  visibility: hidden;
}

.nav-toggle button {
  transition: all 0.3s ease-in-out;
}

@media (max-width: 40em) {
  nav {
    flex-direction: column;
    height: auto;
  }

  .nav-toggle {
    display: block;
    position: absolute;
    top: calc(100vh - 6.5em);
    right: 1.5em;
  }

  .nav-toggle button {
      appearance: none;
      border: none;
      background-color: var(--bo);
      font-size: 1.25em;
      font-family: var(--st);
      border-radius: 0.5rem;
      padding: 0.25rem .25rem;
    }

    .menu {
      display: none;
      width: 100%;
      text-align: center;
    }

  .menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50vh;
    right: .5em;
    height: auto;
    z-index: 999;
    width: auto;
  }

  .menu li {
    margin: .4em 0;
    display: inline-block;
    background-color: rgba(233, 143, 84, .8);
    border-radius: .5rem;
    padding: .5em .5em;
    opacity: 0;
    animation: drawer-open 0.5s ease-in-out forwards;
  }

  
  .menu.active li:nth-child(1) {
    animation-delay: 0.1s;
  }
  
  .menu.active li:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .menu.active li:nth-child(3) {
    animation-delay: 0.3s;
  }
  .menu.active li:nth-child(4) {
    animation-delay: 0.4s;
  }
  
  @keyframes drawer-open {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes drawer-close {
    from {
      opacity: 1;
      transform: translateX(100%);
    }
    to {
      opacity: 0;
      transform: translateX(0);
    }
  }

  .menu.active li a {
    color:var(--lt);
  }
  .menu li:hover {
    background-color: rgba(233, 143, 84, 1);
  }
}


/* Footer */

.footer {
  background-color: rgba(177, 140, 140, 0.4);
  justify-content: space-between;
  align-items: center;
}

.footer-left img {
  height: 3rem;
  padding: .5em;
}

.footer-right p {
  font-size: 0.8rem;
  margin: 0;
}
.footer-right img {
  height: 2em;
  padding: .5em;
}